aioconsole==0.7.0
aiofiles==23.2.1
annotated-types==0.6.0
anyio==4.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
console==0.9907
cssselect==1.2.0
distro==1.9.0
ezenv==0.92
filelock==3.13.1
fsspec==2024.2.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==3.6
Jinja2==3.1.3
jmespath==1.0.1
llama2==0.0.1.dev0
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mpmath==1.3.0
networkx==3.2.1
openai==1.11.1
packaging==23.2
page-parser==0.0.4
parsel==1.8.1
playwright==1.41.1
pydantic==2.6.1
pydantic_core==2.16.2
pyee==11.0.1
Pygments==2.17.2
pyperclip==1.8.2
python-dotenv==1.0.1
requests==2.31.0
rich==13.7.0
sniffio==1.3.0
soupsieve==2.5
sympy==1.12
torch==2.2.0
tqdm==4.66.1
typing_extensions==4.9.0
urllib3==2.2.0
w3lib==2.1.2
