aioconsole==0.7.0
aiofiles==23.2.1
annotated-types==0.6.0
ansicon==1.89.0
anyio==4.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
console==0.9907
cssselect==1.2.0
dearpygui==1.10.1
distro==1.9.0
ezenv==0.92
filelock==3.13.1
fsspec==2024.2.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==3.6
Jinja2==3.1.3
jinxed==1.2.1
jmespath==1.0.1
llama2==0.0.1.dev0
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
medium-api==0.5.5
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.3
openai==1.11.1
packaging==23.2
page-parser==0.0.4
pandas==2.2.0
parsel==1.8.1
playwright==1.41.1
praw==7.7.1
prawcore==2.4.0
pyarrow==15.0.0
pydantic==2.6.1
pydantic_core==2.16.2
pyee==11.0.1
Pygments==2.17.2
pyperclip==1.8.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
qasync==0.27.1
requests==2.31.0
rich==13.7.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sympy==1.12
torch==2.2.0
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.4
update-checker==0.18.0
urllib3==2.2.0
w3lib==2.1.2
websocket-client==1.7.0
